.bottom-page {
    background-color: #2E2F42;
    padding: 96px 0;

}
.bottom-page .logo {
    display: block;

}
.bottom-page .studio {
    color: #f4f4fd;
    line-height: 1.17;
}
.bottom-page-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 288px;
    margin-top: 18px;
    
}
.bottom-page-social-text {
    color: #FFF;
    font-weight: 500;
    margin-bottom: 16px;
}
.bottom-page-socials-list {
    gap: 16px;
    display: flex;

}
.bottom-page-socials-link {
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.bottom-page-icons {
    fill: #F4F4FD;
}
.bottom-page-socials-link:hover,
.bottom-page-socials-link:focus {
    background-color: #31D0AA;
}
.subscription-subtitle {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.subscription-input {
    width: 288px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.subscription-input:focus {
    border-color: #4D5AE5;
    outline: transparent;
}

.subscription-input::placeholder {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04px;

}

.subscription-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    padding: 8px 24px;
    gap: 16px;
    border-radius: 4px;
    background: #4D5AE5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-button:hover,
.subscription-button:focus {
    background-color: #404BBF;

}
@media screen and (max-width: 767px) {
  
    .bottom-page .logo {
       text-align: center;
        
    }
    .bottom-page-logotype {
        margin-bottom: 72px;
    }
    .bottom-page-social {
        margin-bottom: 72px;
    }
    .bottom-page-social-text {
        text-align: center;
    }
    .bottom-page-socials-list {
        align-items: center;
        justify-content: center;
        
    }
    .subscription-subtitle {
        text-align: center;
    }
    .subscription-label {
        margin-bottom: 16px;
    }
    .subscription-button {
        margin-top: 16px;
        margin-right: auto;
        margin-left: auto;
        
    }
    
}

@media screen and (min-width: 758px) and (max-width: 1157px) {
    .container-bottom-page {
        width: 584px;
        gap: 72px 24px;
    }
    
}

@media screen and (min-width: 768px) {
    .bottom-page-text {
        width: 264px;
    }
    .subscription-input {
        width: 264px;
    }
    .container-bottom-page {
        display: flex;
        flex-wrap: wrap;
        }
   
    .subscription {
        display: flex;
        align-items: flex-end;
        gap: 24px;
    }
      
}
@media screen and (min-width: 1158px) {
    .bottom-page {
        padding: 100px 0;
    }
    .bottom-page-logotype {
        margin-right: 120px
    }
    .bottom-page-social {
        margin-right: 80px;

    }
}